/* ==========================================================================
   Dirt skin
   ========================================================================== */

/* Colors */
$background-color: #f3f3f3 !default;
$text-color: #343434 !default;
$muted-text-color: #8e8b82 !default;
$primary-color: #343434 !default;
$border-color: #e9dcbe !default;
$footer-background-color: #e9dcbe !default;
$link-color: #343434 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

/* dirt syntax highlighting (base16) */
$base00: #fafafa !default;
$base01: #f0f0f1 !default;
$base02: #e5e5e6 !default;
$base03: #a0a1a7 !default;
$base04: #696c77 !default;
$base05: #383a42 !default;
$base06: #202227 !default;
$base07: #090a0b !default;
$base08: #ca1243 !default;
$base09: #d75f00 !default;
$base0A: #c18401 !default;
$base0B: #50a14f !default;
$base0C: #0184bc !default;
$base0D: #4078f2 !default;
$base0E: #a626a4 !default;
$base0F: #986801 !default;