/* ==========================================================================
   Dirt skin
   ========================================================================== */

/* Colors */
$background-color: #f3f3f3 !default;
$text-color: #343434 !default;
$muted-text-color: #8e8b82 !default;
$primary-color: #343434 !default;
$border-color: #e9dcbe !default;
$footer-background-color: #e9dcbe !default;
$link-color: #343434 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

/* dirt syntax highlighting (base16) */
$base00: #383838 !default;
$base01: #404040 !default;
$base02: #606060 !default;
$base03: #6f6f6f !default;
$base04: #808080 !default;
$base05: #dcdccc !default;
$base06: #c0c0c0 !default;
$base07: #ffffff !default;
$base08: #dca3a3 !default;
$base09: #dfaf8f !default;
$base0A: #e0cf9f !default;
$base0B: #5f7f5f !default;
$base0C: #93e0e3 !default;
$base0D: #7cb8bb !default;
$base0E: #dc8cc3 !default;
$base0F: #000000 !default;