/* ==========================================================================
   Dirt skin
   ========================================================================== */

/* Colors */
$background-color: #f3f3f3 !default;
$text-color: #343434 !default;
$muted-text-color: #8e8b82 !default;
$primary-color: #343434 !default;
$border-color: #e9dcbe !default;
$footer-background-color: #e9dcbe !default;
$link-color: #343434 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

/* dirt syntax highlighting (base16) */
$base00: #eeeeee !default;      
$base01: #af0000 !default;      
$base02: #008700 !default;      
$base03: #5f8700 !default;      
$base04: #0087af !default;      
$base05: #878787 !default;      
$base06: #005f87 !default;      
$base07: #444444 !default;      
$base08: #bcbcbc !default;      
$base09: #d70000 !default;      
$base0A: #d70087 !default;      
$base0B: #8700af !default;      
$base0C: #d75f00 !default;      
$base0D: #d75f00 !default;      
$base0E: #005faf !default;      
$base0F: #005f87 !default;      